<section id="how-it-works" class="pt-8 about-1 about-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-9">
                <div class="txt-block text-center">
                    <span class="section-id">
                        {{ l('beaute_inee_index_how_it_works_section_id') }}
                    </span>
                    <h2 class="h2-title">
                        {{ l('beaute_inee_index_how_it_works_title') }}
                    </h2>
                    <p class="mb-0">
                        {{ l('beaute_inee_index_how_it_works_text') }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
