<section class="bg--01 bg--scroll py-8 banner-2 banner-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="banner-2-txt text-center color--white">
                    <h3>
                        {{ l('beaute_inee_index_banner2_title') }}
                    </h3>
                    <span class="section-id">
                        {{ l('beaute_inee_index_banner2_subtitle') }}
                    </span>
                    <a href="{{ l('book_skinconsultation_url') }}" target="_blank" rel="noopener" class="btn btn--tra-gold hover--gold">
                        {{ l('beaute_inee_index_banner2_cta') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
